body{
    background-color: #43658b;
}

.main-navbar{
    display: flex;
    align-items: center;
    height: 15vh;
    padding: 1.2rem 2rem;
}

.main-container{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo{
    font-size: 1.5rem;

    background-color: white;
    border-radius: 5px;
    padding: 5px;

    user-select: none;
}

.navbar-logo--image{
    font-size: 3rem;
}

.music-player{
    width: 30%;
    min-width: 350px;
}